body {
  font-family: 'Tangerine', serif;
  background-color: #FFFFFF;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

#nav_bar {
  margin-bottom: 0;
  padding: 0;
  background-color: #FFFFFF;
  border: none;
}

.weather {
  color: #4aa1f3 !important;
  font-size: 25px;
  font-weight: 600;
}

#nav-list > li > a {
  color: #4aa1f3 !important;
}

#logo {
  max-height: 42px;
  margin-right: 8px;
  display: inline-block;
  margin-top: -15px;
}

#headRow {
  background: url('../images/bg.jpg') no-repeat;
  background-size: cover;
  width: 100%;
  height: 450px;
  margin-top: 0px;
}

#colHeadText1 {
  color: #FFFFFF;
  padding-top: 30px;
  font-size: 50px;
}

#coldHeadText2 {
  color: #FFFFFF;
  padding-top: 20px;
  padding-bottom: 30px;
  font-size: 40px;

}

ul#list_item {
  color: #FFFFFF;
  font-size: 35px;
  text-align: center;
}


#cityDiv {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

input[type='text'] {
  font-size: 20px;
  height: 40px;
}

#submitCity {
  height: 40px;
  font-weight: bold;
}

#errorCity {
  width: 50%;
  margin: auto;
  text-align: center;
}

.footer {
  background-color: #4aa1f3;
  width: 100%;
  height: 80px;
  margin-top: 10px;
  position: absolute;
  bottom: 0;
}

#showWeather {
  width: 60%;
  margin: 0 auto;
  background-color: #4aa1f3;
  color: #FFFFFF;
  border-radius: 25px;
}
